.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

input {
	padding: 3px;
	margin: 5px;
}

button {
	padding: 3px;
	margin: 5px;
}

.tripbox {
	margin: 20px;
	border-style: groove;
	border-color: blue;
	padding: 10px;
	width: 60%;
	margin: auto;
	border-radius: 15px;
	box-shadow: 10px 5px 5px teal;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.NavBar ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}
.highlighted {
	color: red;
}
/* .NavBar ul li:hover {
	background-color: teal;
	color: white;

} */

.addPictureNote {
	display: flex;
	justify-content: center;
}

.formBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
